requests>=2.25.0
dulwich>=0.19.11
paramiko>=2.6.0
boto3>=1.24.94
google-cloud-compute==1.9.0
git+https://github.com/carrier-io/arbiter.git
git+https://github.com/carrier-io/control_tower.git@feature/minio_dump
git+https://github.com/carrier-io/loki_logger.git